<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!--redis 配置 开始 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="100" />
		<property name="maxIdle" value="5" />
		<property name="MaxWaitMillis" value="1000" />
		<property name="testOnBorrow" value="true" />
	</bean>
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool"
		destroy-method="destroy">
		<constructor-arg ref="jedisPoolConfig" />
		<constructor-arg value="127.0.0.1" />
		<constructor-arg value="6379" />
	</bean>
	<bean id="redisAPI" class="com.zxz.utils.RedisAPI">
		<property name="jedisPool" ref="jedisPool" />
	</bean>

</beans>