<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="features">
					<list>
						<value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<context:component-scan base-package="com.zxz.controller" />

	<bean name="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<!-- <property name="favorParameter" value="true" /> <property name="parameterName" 
			value="format"></property> -->
		<property name="defaultContentType" value="text/html" />
		<!-- <property name="favorPathExtension" value="true" /> -->
		<!-- <property name="ignoreAcceptHeader" value="true" /> -->
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=UTF-8" />
				<entry key="json" value="application/json;charset=UTF-8" />
				<entry key="xml" value="application/xml;charset=UTF-8" />
			</map>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager" ref="contentNegotiationManager"/>
		<property name="viewResolvers">
			<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/WEB-INF/pages/"/>
				<property name="suffix" value=".jsp"/>
			</bean>
		</property>
		<property name="defaultViews">
			<list>
				<!-- jackson -->
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
				<!-- xml视图，XStreamMarshaller，可以转换任何形式的java对象，需要添加xStream jar包 -->
				<bean name="xStreamMarshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller">
						<bean class="org.springframework.oxm.xstream.XStreamMarshaller">
							<!-- 启用annotation -->
							<!-- <property name="autodetectAnnotations" value="true"/> -->
							<!-- 类名别名 -->
							<!-- <property name="aliases"> <map> Account这个类的别名就变成了myBeans，那么转换后的xml中就是myBeans 
								<entry key="OllUser" value="com.zxz.pojo.OllUser" /> </map> </property> -->
							<!-- 基本属性别名 -->
							<!-- <property name="fieldAliases"> <map> Account中的brithday这个属性 <entry 
								key="com.tcf.entity.SmbmsRole.id" value="编号"/> </map> </property> -->
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="500000000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<mvc:resources location="/statics/" mapping="/statics/**" />

	<!-- 配置interceptors -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/backend/**" />
			<bean class="com.zxz.interceptor.SysInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
